@CHARSET "UTF-8";
/* 左侧样式 */
.le_lefter{
	height: 100%;
    left: 0px;
    bottom: 0;
    top: 44px;
    background: #dee8f1;
    padding: 9px 0;
    float: left;
    margin-left: -15px;
    min-width: 0;
}
.le_lefter li{
	 list-style-type:none;
	 cursor: pointer;
	 margin-left: -19px;
}
.le_lefter li i{
	 font-weight: 600;
}
.le_lefter li span{
	 font-weight: 600;
	 margin-left: 7px;
}
.le_left_menu{
	 width: 211px;
	 float: left;
}
.le_left_close_open{
	margin-top: -8px;
    position: absolute;
    margin-left: 212px;
}
.le_left_close_open a{
	cursor: pointer !important;
}